---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@/components/blog/BlogCard.astro'
import Pagination from '@/components/ui/Pagination.astro'

import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import BlogHero from '@/components/blog/BlogHero.astro'
export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog', ({ data }) => !data.isDraft)

  return paginate(
    posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()),
    {
      pageSize: 3,
    },
  )
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<BaseLayout title={`My Blog | Page ${page.currentPage}`}>
  <BlogHero currentPage={page.currentPage} />
  <div class="container">
    <section aria-label="Blog Posts" class="grid-wrapper">
      {page.data.map((post) => <BlogCard post={post} />)}
    </section>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </div>
</BaseLayout>
